LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "switch[1]" SITE "M9" ;
LOCATE COMP "switch[0]" SITE "M10" ;
LOCATE COMP "ledDigit[17]" SITE "A10" ;
LOCATE COMP "ledDigit[16]" SITE "C11" ;
LOCATE COMP "ledDigit[15]" SITE "F2" ;
LOCATE COMP "ledDigit[14]" SITE "E1" ;
LOCATE COMP "ledDigit[13]" SITE "E2" ;
LOCATE COMP "ledDigit[12]" SITE "A9" ;
LOCATE COMP "ledDigit[11]" SITE "B9" ;
LOCATE COMP "ledDigit[10]" SITE "F1" ;
LOCATE COMP "ledDigit[9]" SITE "C9" ;
LOCATE COMP "ledDigit[8]" SITE "C12" ;
LOCATE COMP "ledDigit[7]" SITE "B14" ;
LOCATE COMP "ledDigit[6]" SITE "J1" ;
LOCATE COMP "ledDigit[5]" SITE "H1" ;
LOCATE COMP "ledDigit[4]" SITE "H2" ;
LOCATE COMP "ledDigit[3]" SITE "B12" ;
LOCATE COMP "ledDigit[2]" SITE "A11" ;
LOCATE COMP "ledDigit[1]" SITE "K1" ;
LOCATE COMP "ledDigit[0]" SITE "A12" ;
LOCATE COMP "ledRGB[2]" SITE "M2" ;
LOCATE COMP "ledRGB[1]" SITE "N2" ;
LOCATE COMP "ledRGB[0]" SITE "P2" ;
LOCATE COMP "ledWater[0]" SITE "N13" ;
LOCATE COMP "ledWater[1]" SITE "M12" ;
LOCATE COMP "ledWater[2]" SITE "P12" ;
LOCATE COMP "ledWater[3]" SITE "M11" ;
LOCATE COMP "ledWater[4]" SITE "P11" ;
LOCATE COMP "ledWater[5]" SITE "N10" ;
LOCATE COMP "ledWater[6]" SITE "N9" ;
LOCATE COMP "ledWater[7]" SITE "P9" ;
